.App {
  text-align: center;
  width: 950px;
  margin:0 auto;
  height: 500px;
background-color: #0062E6;
  border:none;
  border-radius: 15px;
  margin-top: 50px;
}

.home-component{
  text-align: center;
  width: 250px;
  margin:0 auto;
  height: 400px;
  border: 1px none;
  border-radius: 5px;
  margin-top: 50px;
 margin-left: 10px;
  background-color:whitesmoke;
  display: inline-block;
 
}

.fa-tick::before{
  content: '\2713';
  display: inline-block;
  color:  #0062E6;
  padding: 0 6px 0 0;
  text-align: left;
  
}

.fa-ul {
  text-align: left;
  list-style-type: none;
  margin-bottom: 1rem;
  color:#0062E6;
}

.fa-cross::before{
  display: inline-block;
  content: "\00d7";
  color:#0062E6;
  padding: 0 6px 0 0;
}

.btn {
  font-size: 15px;
  border-radius: 20px;
  width: 150px;
  letter-spacing: .1rem;
 margin-top: 15px;
  padding: 0.5rem;
  background-color: #0062E6;
  color: beige;
}

.text-muted {
  opacity: 0.7;
}
.card-price card-title {
  font-size: 50px;
  padding:0%

}
.size{
  font-size: 15px;
  padding:0%
}